<h1 style="color: #5e9ca0;">Welcome to the StudyWithMe-Server!</h1>
<h2 style="color: #2e6c80;">This is only the landing page:</h2>
<p>This server provides a REST-API to manage the Groups and Users of our App.</p>
<h2 style="color: #2e6c80;">You may want to:</h2>
<ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
<li style="clear: both;"><h4><a title="Download our App" href="https://git.scc.kit.edu/pse-android-gruppe-1">Download our App</a></h4></li>
<li style="clear: both;"><h4><a title="Visit our GitLab-Project" href="https://git.scc.kit.edu/pse-android-gruppe-1">Visit our GitLab-Project</a></h4></li>
</ol>